name: test

on:
  push:
  pull_request:

jobs:
  test:
    name: test (${{ matrix.python-version }})
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12']

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Ensure scripts are executable
        run: |
          chmod +x vowelcount
          chmod +x test.bash

      - name: Run test
        run: ./test.bash
